
.container {
  --margin: 1rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background-color: var(--control-background-color);
  border-radius: 0.5rem;
  display: grid;
  position: fixed;
  margin: var(--margin);
  left: 50%;
  translate: calc(-50% - var(--margin)) 0; 
  bottom: 0;
  z-index: var(--z-floating-controls);
}