.container {
  list-style: none;
  display: grid;
  grid: "checkbox content" auto / auto 1fr;
  align-items: center;
  gap: 0.75rem;
  max-width: 80ch;
  padding: 0.5em var(--layout-padding-x);
}

.content {
  color: inherit;
  font-size: 1.1rem;
}

.notes {
  color: inherit;
  font-size: 1rem;
}

.container > label:has(input[type="checkbox"]) {
  grid-area: checkbox;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10mm;
  min-height: 10mm;
}

.container > .content {
  grid-area: content;
}

.container > .notes {
  grid-area: notes;
}

.container.selected {
  grid: "checkbox content" auto ". notes" auto / auto 1fr;
  background-color: var(--highlight-background-color);
  z-index: var(--z-todo);
}

input.content {
  border: none;
  background: none;
  color: inherit;
  width: 100%;
  padding: 0;
}

textarea.notes {
  border: none;
  background: none;
  width: 100%;
  resize: none;
  overflow: hidden;
  height: auto;
  padding: 0;
}

.empty {
  color: var(--text-color-light);
}