.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: var(--z-backdrop);
}

.layout {
  --layout-padding-x: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--layout-padding-x);
  display: grid;
  gap: 1rem;

  .list {
    list-style: none;
    padding: 0;
    margin: 0 calc(-1 * var(--layout-padding-x));
    grid: auto / 1fr;
    display: grid;
    gap: 0.5rem;
  }
}
